<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="064d58e5-54cf-47cc-8607-4ac6f33b5314" Publisher="CN=James" Version="1.0.0.0" />
  <Properties>
    <DisplayName>WinRTBasicReflectionInstantiation</DisplayName>
    <PublisherDisplayName>James</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>WinRTBasicReflectionInstantiation</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WinRTBasicReflectionInstantiation.TestApplication">
      <VisualElements DisplayName="WinRTBasicReflectionInstantiation" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="WinRTBasicReflectionInstantiation" ForegroundText="light" BackgroundColor="#222222">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>