<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="697ad865-20b9-42c3-9b3c-546ea6dd80e0"
            Publisher="CN=James"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>unit_tests_windows_runtime_app</DisplayName>
    <PublisherDisplayName>James</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="unit_tests_windows_runtime_app.App">
        <VisualElements
            DisplayName="unit_tests_windows_runtime_app"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="unit_tests_windows_runtime_app"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>