<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="8ac3e3d2-a959-45b1-8c8b-d3b3154c75f2"
            Publisher="CN=James"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>UnitTestsWinRT</DisplayName>
    <PublisherDisplayName>James</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>UnitTestsWinRT</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="UnitTestsWinRT.App">
        <VisualElements
            DisplayName="UnitTestsWinRT"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="UnitTestsWinRT"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>