<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="4f0bd33d-7b6a-4aa7-b06c-fc75d2ec6589"
            Publisher="CN=james"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>WinRTStub</DisplayName>
    <PublisherDisplayName>james</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>WinRTStub</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="WinRTStub.App">
        <VisualElements
            DisplayName="WinRTStub"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="WinRTStub"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>